{% extends 'budget/base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <form class="" action="" method="post">
      {% csrf_token %}
      {{ form }}
      <label for="categoryInput">Expense Categories (hit enter after every category)</label>
      <input type="text" name="categoryInput" id="categoryInput" value="">
      <!-- hidden for concat -->
      <input type="hidden" name="categoriesString">
      <!-- tags will be here -->
      <ul id="categoriesContainer">
      </ul>
      <button type="submit" class="btn" name="button">Start Project</button>
    </form>
  </div>

  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
